.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.text-area {
  border-radius: 0.25rem;
  border: 1px solid #000;
  width: 80%;
}

.btn {
  border-radius: 6px;
  background-color: rgb(204, 204, 204);
}

.btn:hover {
  background-color: rgb(161, 161, 161);
}
